@page "/orders/{orderId:int}"
@inject IOrderService OrderService

@if (order is null)
{
    <span>Loading order ...</span>
}
else {
    <h3>Order from @order.OrderDate.ToLocalTime()</h3>
    <div>
        @foreach (var product in order.Products)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@product.ImageUrl" class="image" />
                </div>
                <div class="name">
                    <h5><a href="/product/@product.ProductId">@product.Title</a></h5>
                    <span>@product.ProductType</span><br />
                    <span>Quantity: @product.Quantity</span>
                </div>
                <div class="product-price">DZD @product.TotalPrice</div>
            </div>
        }
        <div class="product-price">
            Total: DZD @order.TotalPrice
        </div>
    </div>
}

@code {
    [Parameter]
    public int orderId { get; set; }

    private OrderDetailsResponse? order = null;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderDetails(orderId);
    }
}